{% extends 'base.html' %}

{% block content %}

  <h1>Either Game</h1>
  <button type="button" class="btn btn-primary card-link me-2" onclick="location.href='{% url 'eithers:create' %}'">New Question</button>
  <button type="button" class="btn btn-danger card-link me-2" onclick="location.href='{% url 'eithers:random' %}'">Random Question</button>
 
  <hr>

  <ul class="list-group" style="width: 300px;">
    {% for question in questions%}
    <li class="list-group-item ">
    <h4>{{ question.title }}</h4>
    <button type="button" class="btn btn-warning card-link me-2" onclick="location.href='{% url 'eithers:detail' question.pk %}'">play</button>
  </li>
    {% endfor %}
  <ul>
{% endblock content %}